
$btn-color-primary: #00E2C4;

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px 40px;
  text-transform: uppercase;

  &:hover {
    filter: brightness(85%);
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background: $btn-color-primary;
  }
}
