.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  button:first-of-type {
    margin-right: 10px;
  }
}

.messages-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
