$box-default-bkg-color: #eeeeee;
$box-shadow-color: #9b9b9b;
$error-color: #f56236;
$info-color: #88fca3;
$warning-color: #fce788;
$sub-title-color: #727272;

.message-container {
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.message-data-list {
  .notification {
    background-color: $box-default-bkg-color;
    border-radius: 4px;
    box-shadow: 0 2px 6px $box-shadow-color;
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 20px;

    &.errorMessages {
      background-color: $error-color;
    }

    &.infoMessages {
      background-color: $info-color;
    }

    &.warningMessages {
      background-color: $warning-color;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .clear-cta {
      cursor: pointer;
    }

    .message {
      flex-basis: 100%;
    }
  }
}

.title {
  font-size: 20px;
}

.sub-title {
  color: $sub-title-color;
  font-size: 12px;
}
